
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 5px;
}

li,a {
    display: inline-block;
    list-style-type: none;
    color: white;
    text-decoration: none;
    padding: 20px;
}