<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OneMansRubbish</title>
  <link rel="stylesheet" href="/static/style/style.css">
  <script src="/static/script/script.js"></script>
</head>
<body>
  <header>
    <h1>OneMansRubbish</h1>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('catagories') }}">Catagories</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('submit_post') }}">Add Item</a></li>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        {% endif %}
      {% endwith %}

      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>