{% extends 'base.html' %}
{% block content %}
<h2>Profile</h2>
<table>
    <tbody>
    <tr>
        <th scope="col">Post Name</th>
        <th scope="col">Status</th>
        <th scope="col">Claimed By</th>
        <th scope="col"></th>
    </tr>
{% for posts in posted %}

    <tr>
        <td>{{ posts.post_title }}</td>
        <td>{{ posts.post_status }}</td>
        <td>
            {% for claim in claimed %}
                {% if claim.claim_post_id == posts.post_id %}
                    {{ claim.claimed_by.user_name }}<br>
                {% endif %}
            {% endfor %}
        </td>
        <td>Edit Post</td>
    </tr>
{% endfor %}
    </tbody>
</table>





{% endblock %}