@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://athunder79.github.io/Project/Module%202/images/body-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #f0efef;
    background-blend-mode: overlay;
    font-family: "montserrat", sans-serif;
}

/* javascript show and hide classes */
.hide {
    display: none;
}

.show {
    display: inline;
}

/* navigation bar */

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex>div {
    flex: 2;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #196237;
    color: white;
    padding: 5px;
    top: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    height: auto;
    padding: 10px;
    background-color: #196237;
    color: white;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li,
a {
    display: inline-block;
    list-style-type: none;
    color: white;
    text-decoration: none;
    padding: 5px;
}

/* content */

h2,
h3 {
    text-align: center;
}

.title-left {
    text-align: left;
    text-decoration: underline;
}

/* content containers */


.container {
    box-shadow: 0px 0px 3px 1px #141313;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

/* index page posts */
.post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #141313;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: min-content;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.img-container {
    flex: 40;
}

.discription-container {
    flex: 40;
    margin-left: 10px;
}

.button-container {
    flex: 20;
}

.post-date {
    font: italic 14px/1.4 Georgia, serif;
    font-size: 12px;
    font-weight: bold;
}

.medium-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome {
    display: none;
    box-shadow: 0px 0px 3px 2px #0f0f0f;
    width: 70%;
    padding: 10px;
    background-color: #f5f9f6;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: #272424;
}


.page-link {
    color: #333;
    text-decoration: none;
    /* background-color: #f2f2f2;
    border: 1px solid #ddd; */
    padding: 0px;
}

/* filter by "button" */
.filter {
    color: #333;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 6px 12px 7px;
    border-radius: 4px;
}

button {

    padding: 10px;
    background-color: #739ecd;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.current-user {
    font-size: 12px;
}


.medium-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.direct-message-header {
    position: sticky;
    top: 92px;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;

}


.img-thumb {
    aspect-ratio: 1/1;
    width: 95%;
    height: auto;
    padding-top: 17px;
    object-fit: cover;
    cursor: pointer;
}

.img-large {
    width: 100%;
    height: auto;
    padding-top: 17px;
}

/* Direct message and Styling */

.messages-container {

    margin: auto;
    width: 30%;
    padding: 10px;
    background-color: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.write-message {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    bottom: 0;

}

.sent {

    background-color: #d1e1f2;
    color: #161616;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    margin-right: 0%;


}

.received {
    background-color: #ffffff;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    margin-left: 0%;
}

.dates {
    float: right;
    font: italic 14px/1.4 Georgia, serif;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.message-user {
    font-size: 13px;
    text-align: left;
    color: #1e296c;
    font-weight: bold;
}

/* form and table styling */

table,
th,
td {
    border-collapse: collapse;
    border-bottom: .1px solid #333;
    border-top: .1px solid #333;
    width: 100%;
    white-space: nowrap;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.your-post-user {
    font-size: 13px;
    text-align: left;
    color: #1e296c;
    font-weight: bold;
    text-decoration: underline;
}

.center-table-numbers {
    text-align: center;
}

textarea {
    font-family: sans-serif;
    width: 87%;
    height: 20px;
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 20px;

}


input {
    width: 90%;
    padding: 10px;
    border: 1px solid #242222;
    border-radius: 5px;
    display: block;
}


/*  flash messages */
.flashes {
    box-shadow: 0px 0px 3px 1px #141313;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #f60808;
    font-size: 16px;
    border-radius: 5px;
}

/* media screen */
@media screen and (max-width: 980px) {

    .container,
    .post-container {
        width: 95%;
        font-size: small;
    }

    .navbar {
        flex-direction: column;
    }

    li,
    a {
        font-size: 13px;
    }

    table,
    th,
    td {

        padding: 10px;
        text-align: left;
        font-size: x-small;
    }

    .messages-container {
        width: 50%;

    }

    .your-post-user {
        font-size: x-small;
    }

    .direct-message-header {
        position: sticky;
        top: 157px;


    }



}

@media screen and (max-width: 630px) {

    .container,
    .post-container {
        width: 95%;
        font-size: x-small;
    }

    .sent,
    .received {
        width: 80%;
    }

    .messages-container {
        width: 95%;

    }

    .write-message {
        width: 100%;
    }

    .direct-message-header {
        position: sticky;
        top: 157px;
        width: 100%;

    }

    button {
        font-size: x-small;
    }

    li,
    a {
        font-size: 12px;
    }

    .message-user,
    .dates,
    .post-date,
    .button {
        font-size: x-small;
    }


}