<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OneMansRubbish</title>
  <link rel="stylesheet" href="/static/style/style.css">
  <script src="/static/script/script.js"></script>
</head>

<body>
  <header class="navbar">
    <h1>OneMansRubbish</h1>
    {% if current_user.is_authenticated %}
    <h2 class="current-user">Welcome {{current_user.user_name}}!</h2>
    {% endif %}

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('submit_post') }}">POST</a></li>
        <li><a href="{{ url_for('categories') }}">CATEGORIES</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">LOGIN</a></li>
        <li><a href="{{ url_for('register') }}">REGISTER</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashes">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-logo">
        <h1>OneMansRubbish</h1>
    </div>

    <div class="footer-social">
        <p>Follow us:</p>
        <p><a href="www.facebook.com">Facebook</a></p>
        <p><a href="www.instagram.com">Instagram</a></p>
        <p><a href="www.twitter.com">Twitter</a></p>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy; 2023</p>
        <p>All rights reserved</p>
    </div>
</footer>
</body>

</html>