{% extends 'base.html' %}
{% block content %}
<h2>Lastest Items</h2>




<!-- filter by category -->
{% if selected_category %}
<h3>Flitered by:&nbsp;<a class="filter" href="{{url_for('index')}}"> {{ selected_category }} &nbsp; &#10005; </a></h3>
{% endif %}

<!-- show/hide archived posts -->
<h3 id="archive-button">&nbsp;<a class="filter">Show Archived</a></h3>
<h3 id="archive-button-hide" class="hide">&nbsp;<a class="filter">Hide Archived</a></h3>

<!-- list posts -->
{% for posts in posted %}

<!-- don't display completed posts -->
    {% if posts.post_status == 'Gone' %}
<div class="archived">
    {% else %}
<div class="post-container medium-margin">
    {% endif %}
    <div class="img-container">
        <div><img onclick="window.location.href='{{ url_for('listing', post_id=posts.post_id) }}'" class="img-thumb"
                src="{{ posts.post_img_url }}" alt="Image of {{ posts.post_title }}"></div>
    </div>
    <div class="discription-container">
        <h3 class="title-left">{{ posts.post_title }}</h3>
        <p><strong>Category:&nbsp;</strong>{{ posts.post_category }}</p>
        <p><strong>Qty:&nbsp;</strong>{{ posts.post_quantity }}</p>
        <p><strong>Location:&nbsp;</strong>{{ posts.post_location }}</p>
        <p><strong>Status:&nbsp;</strong>{{ posts.post_status }}</p>
        <p class="post-date">{{ posts.post_date.strftime('%d/%m/20%y Time: %H:%M') }}</p>
    </div>
    <div class="button-container">
        <button class="button-front-page" type="button"
            onclick="window.location.href='{{ url_for('listing', post_id=posts.post_id) }}'">View
            Listing</button>
    </div>
</div>
  

{% endfor %}

{% endblock %}