{% extends 'base.html' %}
{% block content %}
<h2>Lastest Items</h2>

{% if selected_category %}
<h3>Category: {{ selected_category }}</h3>
{% endif %}


    {% for posts in posted %}

    <div class="container medium-margin flex">
        <div>
        <h3>{{ posts.post_title }}</h3>
        <div><img class="img" src="{{ posts.post_img_url }}" alt="Image of {{ posts.post_title }}"></div>
        </div>
        <div>
        <p><strong>Category:&nbsp;</strong>{{ posts.post_category }}</p>
        <p><strong>Qty:&nbsp;</strong>{{ posts.post_quantity }}</p>
        <p><strong>Location:&nbsp;</strong>{{ posts.post_location }}</p>
        <p><strong>Status:&nbsp;</strong>{{ posts.post_status }}</p>
        <p>{{ posts.post_date.strftime('%d/%m/20%y Time: %H:%M') }}</p>
        </div>
        <div>
        <button type="button" onclick="window.location.href='{{ url_for('listing', post_id=posts.post_id) }}'">View Listing</button>
        </div>
    </div>
    {% endfor %}

{% endblock %}
