{% extends 'base.html' %}
{% block content %}

<!-- details of post -->
<h2>Listing</h2>
<div class="container">
    <h3>{{ post.post_title }}</h3>
    <img class="img-large" src="{{ post.post_img_url }}" alt="Image of {{ post.post_title }}">
    <h3>Description</h3>
    <p>{{ post.post_description }}</p>
    <p><strong>Category:</strong> {{ post.post_category }} &nbsp;<strong> Qty: </strong>{{ post.post_quantity }}</p>
    <p><strong>Location:</strong> {{ post.post_location }}</p>
    <p><strong>Status:&nbsp;</strong><span id="status">{{ post.post_status }}
            {% if claim in claims %}
            {{ claim.claimed_by.user_name }}
            {% endif %}
        </span></p>
    <p>
        <span class="message-user">Posted By: {{ post.posted_by.user_name }}</span>
        <span class="dates">{{ post.post_date.strftime('%d-%m-20%y Time: %H:%M') }}</span>
    </p>
<!-- reserve item -->
    <form action="/claim_post/{{post.post_id}}" method="POST">
        <button id="claimButton" class="show" type="submit" value="Claim Item">Reserve Item</button>
    </form>
</div>
<!-- post comments -->
<div class="container">
    <h3>Comments</h3>
    {% for comment in comments %}
    <div class="container">
        <p>
            <span class="message-user">{{ comment.comment_by.user_name }} said:</span>
            <span class="dates">{{ comment.comment_date.strftime('%d-%m-20%y Time: %H:%M') }}</span>
        </p>
        <p>{{ comment.comment_text }}</p>
    </div>
    {% endfor %}
    <div class="hide" id="commentForm">
        <form action="/listing/{{post.post_id}}" method="POST">
            <label for="comment">Comment:</label><br>
            <textarea id="comment-text" name="comment-text" rows="4" cols="50" required></textarea><br><br>
            <button type="submit" id="submit-comment">Submit</button>
            <button type="button" id="cancel-comment">Cancel</button>
        </form>
    </div>
    <button type="submit" action id="add-comment" class="show">Add Comment</button>
</div>

{% endblock %}