{% extends 'base.html' %}
{% block content %}
<h2>Profile</h2>
<div id="your-details" class="container medium-margin">
    <table>
        <caption>
            <h2>Your Details</h2>
        </caption>
        <tbody id="your-details-body" class="hide">
            {% for user in users %}
            <tr>
                <td>Username:</td>
                <td>{{ user.user_name }}</td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td>{{ user.full_name }}</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <td>Address Line 1:</td>
                <td>{{ user.address_line1 }}</td>
            </tr>
            <tr>
                <td>Address Line 2:</td>
                <td>{{ user.address_line2 }}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{ user.country }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div id="your-posts" class="container medium-margin">
    <table>
        <caption>
            <h2>Your Posts</h2>
        </caption>
        <tbody id="your-posts-body" class="hide">
            <tr>
                <th scope="col">Post Name</th>
                <th scope="col">Status</th>
                <th scope="col">Qty Remaining</th>
                <th scope="col">Claimed By</th>
                <th scope="col"></th>
            </tr>
            {% for posts in posted %}

            <tr>
                <td>{{ posts.post_title }}</td>
                <td>{{ posts.post_status }}</td>
                <td class="center-table-numbers">{{ posts.post_quantity }}</td>
                <td>
                    {% for claim in claimed %}
                    {% if claim.claim_post_id == posts.post_id %}
                    <a class="page-link" href="/direct_message/{{ claim.claim_user_id }}">{{ claim.claimed_by.user_name}}</a><br>
                </td>
                {% endif %}
                {% endfor %}
                <td><a class="page-link" href="/edit_post/{{ posts.post_id }}">Edit Post</a> </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="your-claimed-items" class="container medium-margin">

    <table>
        <caption>
            <h2>Items you've claimed</h2>
        </caption>
        <tbody id="your-claimed-items-body" class="hide">
            <tr>
                <th scope="col">Post Name</th>
                <th scope="col">Posted by</th>
            </tr>

            {% for claim in claimed %}
            {% if claim.claim_user_id == current_user.id %}

            <tr>
                <td>{{ claim.claimed_post.post_title }}</td>
                <td>{{ claim.claimed_post.posted_by.user_name }}</td>
            </tr>
            {% endif %}
            {% endfor %}



        </tbody>
    </table>
</div>

<div id="your-messages" class="container medium-margin">
    <table>
        <caption>
            <h2>Your Messages With</h2>
        </caption>
        <tbody id="your-messages-body" class="hide">

            <tr>
            {% for message in message_users %}
             {%for user in users %}
                <td>{{ message.user_name }}</td>
                <td><a class="page-link" href="/direct_message/{{ message.id }}">View Messages</a></td>
            </tr>
            {% endfor %}
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}